# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'settings-default.cfg' or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Camera]
viewing distance = 54613

[Game]
strength influences hand to hand = 2
use additional anim sources = true
weapon sheathing = true
shield sheathing = true
can loot during death animation = false
use magic item animations = true

[GUI]
stretch menu background = true

[Shaders]
apply lighting to environment maps = true
clamp lighting = false
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
radial fog = true

[Shadows]
enable shadows = true
actor shadows = true
player shadows = true
terrain shadows = true
object shadows = true
enable indoor shadows = true

[Terrain]
distant terrain = true
